<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Multi-User Auction System Registration</title>
  <link rel="stylesheet" href="../public/styles/register.css">

</head>
<body>

  <div class="registration-container">
    <h1>Multi-User Auction System Registration</h1>
    <form action="/register" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required>

      <button type="submit">Register</button>
    </form>

    <div class="links">
      <p>Already have an account? <a href="/login">Login</a></p>
      <p>Are you an admin? <a href="/admin">Admin Page</a></p>
    </div>
  </div>

</body>
</html>
